body{
	background: #f1f1f1;
}

a{
	color:#fd4624;
}

a:hover,
a:active{
	color:#F92702;
}

.table-sm td, .table-sm th {
    padding: .3rem .75rem;
}

#wpbody-content .container-fluid{
	background: transparent;
}

.list-feed > li + li{
	margin-top:24px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
input[type=radio]:checked:before {
    background-color: #fd4624;
}

input.disabled, input:disabled, select.disabled, select:disabled, textarea.disabled, textarea:disabled {
    background: rgba(222,222,222,.3);
    border-color: rgba(222,222,222,.75);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
    color: rgba(51,51,51,.5);
}

.form-control-plaintext{
	max-width:400px;
}

.chosen-container {
    line-height: 32px;
	color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	box-shadow:none !important;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #ced4da !important;
    box-shadow:none !important;
}

.tab-content{
	background:#FFF;
}
.tab-content > .tab-pane{
	border-left:1px solid #dee2e6;
	border-right:1px solid #dee2e6;
}
.tab-content > .tab-pane .col-12,
.tab-content > .tab-pane .col-sm-12,
.tab-content > .tab-pane .col-md-12,
.tab-content > .tab-pane .col-lg-12{
	padding: 0 32px;
}

.tab-content > .tab-pane > div:first-child{
	padding-top:15px;
}
.tab-content > .tab-pane > div:last-child{
	padding-bottom:15px;
}

#cf-geo-rest-tabContent.tab-content > .tab-pane {
    border-left: none;
    border-right: none;
}

#cf-geo-rest-tab.nav-pills .nav-link.active,
#cf-geo-rest-tab.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #6c757d;
	position:relative;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-top-right-radius:0;
	-moz-border-bottom-right-radius:0;
}

#cf-geo-rest-tab.nav-pills .nav-link.active .cfgp-arrow,
#cf-geo-rest-tab.nav-pills .show>.nav-link .cfgp-arrow {
	position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #6c757d;
}


#cf-geo-rest-tab.nav-pills *,
#cf-geo-rest-tab.nav-pills *:hover,
#cf-geo-rest-tab.nav-pills *:active,
#cf-geo-rest-tab.nav-pills *:focus{
	outline:none !important;
	text-shadow:none !important
}

body.cf-geo-plugin_page_cf-geoplugin-settings #alert{
	position: fixed;
    top: auto;
    left: auto;
    right: 0;
    bottom: 5px;
    width: 100%;
    max-width: 88.5%;
    z-index: 100;
}

body.cf-geo-plugin_page_cf-geoplugin-settings #alert > .alert{
	display:inline-block;
}

.list-feed img{
	width:100%;
	max-width:80%;
	display:block;
	height:auto;
}

.list-feed {font-size: 13px;}
