#cf-geoplugin-dashboard-wrapper  {
    max-width: 100%;
}

#cf-geoplugin-dashboard-wrapper .welcome-panel-column .activity-block{
	max-width:95%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: none;
} 

#cf-geoplugin-dashboard-wrapper .activity-block ul > li{
	width:100%;
}
#cf-geoplugin-dashboard-wrapper .activity-block ul>li>strong,
#cf-geoplugin-dashboard-wrapper .activity-block ul>li>span{
	display:inline-block;
	vertical-align:top;
}

#cf-geoplugin-dashboard-wrapper .activity-block ul>li>strong{
	width:25%;
	color:#444;
}
#cf-geoplugin-dashboard-wrapper .activity-block ul>li>span{
	color:#111;
	width:73%;
}
.cf-geoplugin-dashboard-downloaded{
	color:#999;
}
#cf-geoplugin-dashboard-version-info.activity-block ul{
	list-style:decimal;
	padding-left:15px;
	margin-bottom:18px;
}

#cf-geoplugin-dashboard-version-info.activity-block ul > li{
	list-style-type: decimal;
}

cf-geoplugin-dashboard-info.activity-block ul{
	margin-bottom:18px;
}

#cf-geoplugin-dashboard-wrapper .hilight{
	background:#FFFFE8;
}

#cf-geoplugin-dashboard-footer{
	border-top: 1px solid #eee;
}