.woocommerce-converted-price{
	font-size: 75%;
    color: #555;
}
.woocommerce-converted-price:before,
.woocommerce-converted-price::before{
	content:" (";
}
.woocommerce-converted-price:after,
.woocommerce-converted-price::after{
	content:") ";
}