#cf-geoplugin-seo-redirection h2.hndle,
#cf-geoplugin-seo-redirection h2.hndle span,
#cf-geoplugin-seo-redirection h3.hndle{
	background: brown;
	color:#fff !important;
}

#cf-geoplugin-seo-redirection .button-link{
	color:#fff;
	opacity:0.5;
}

#cf-geoplugin-seo-redirection .accordion-section-title:hover:after,
#cf-geoplugin-seo-redirection .handlediv:focus,
#cf-geoplugin-seo-redirection .handlediv:hover,
#cf-geoplugin-seo-redirection .item-edit:focus,
#cf-geoplugin-seo-redirection .item-edit:hover,
#cf-geoplugin-seo-redirection .sidebar-name:hover .sidebar-name-arrow,
#cf-geoplugin-seo-redirection .widget-action:focus,
#cf-geoplugin-seo-redirection .widget-top:hover .widget-action {
    color: #fff;
	opacity:1;
}
#cf-geoplugin-seo-redirection .inside{
	border-bottom: 3px solid brown;
}
#cf-geoplugin-seo-redirection .cfgeo_id_cf_geo_metabox_enable_seo .cfgeo_metabox_description{
	color: #cc0000 !important;
	font-weight:bold;
}

#cf-geoplugin-seo-redirection .postbox, #cf-geoplugin-seo-redirection .stuffbox {
    margin-bottom: 0;
}

#cf-geoplugin-seo-redirection label{
	vertical-align: baseline;
    font-weight: 600;
	margin: 1em 0;
}