.cfgp-menu-item-restriction{
	clear: both;
    margin-top: 0px;
    float: left;
    background: #f9f9f9;
    width: 92%;
    max-width: 361px;
    padding: 5px 15px;
}

.cfgp-menu-item .cfgp-select-all {
	border: none;
    color: #555;
    border-radius: 0;
    margin-top: 0;
    font-size: 12px;
    padding-left: 0;
    background: none;
}

.cfgp_select2,
.cfgp_select2+.select2.select2-container{
	width:100% !important;
}