.cfgp-container,
.cfgp-container *{
	box-sizing: border-box !important;
	-webkit-box-sizing: border-box  !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	-o-box-sizing: border-box !important;
}

.cfgp-container .cfgp-row{
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: start;
	 align-items: flex-start;
	 align-content: align-content;
}

.cfgp-container .cfgp-col{
	flex:0 0 100%;
	max-width:100%;
	padding: 8px 3px;
	margin-bottom:2px;
}

.cfgp_select2,
.cfgp_select2+.select2.select2-container{
	width:100% !important;
}

.cfgp-container .input-radio input[type="radio"]+input[type="radio"],
.cfgp-container .input-radio span+input[type="radio"]{
	margin-left:12px;
}

@media screen and (min-width:480px) and (max-width:992px) {
	.cfgp-container .cfgp-col.cfgp-col-sm-6{
		flex:0 0 50%;
		max-width:50%;
	}
	.cfgp-container .cfgp-col.cfgp-col-sm-4{
		flex:0 0 33.33%;
		max-width:33.33%;
	}
	.cfgp-container .cfgp-col.cfgp-col-sm-3{
		flex:0 0 25%;
		max-width:25%;
	}
}

@media screen and (min-width:992px) {
	.cfgp-container .cfgp-col{
		margin-bottom:10px;
	}
	.cfgp-container .cfgp-col.cfgp-col-4{
		flex:0 0 33.33%;
		max-width:33.33%;
	}
	.cfgp-container .cfgp-col.cfgp-col-3{
		flex:0 0 25%;
		max-width:25%;
	}
}

.cfgp-container .cfgp-col select,
.cfgp-container .cfgp-col input[type="url"],
.cfgp-container .cfgp-col input[type="text"],
.cfgp-container .cfgp-col input[type="tel"],
.cfgp-container .cfgp-col textarea{
	width:100%;
}

.cfgp-container .cfgp-col.cfgp-col-content-right{
	justify-content:right;
	text-align:right;
}

.cfgp-container .cfgp-col label{
	display:block;
	width:100%;
	margin-bottom: 5px;
}

.cfgp-container .description{
	font-size:0.75rem;
	margin: 3px auto;
	display:block;
}

.cfgp-container .cfgp-repeater-actions > .cfgp-remove-seo-redirection{
	text-decoration:none;
	margin-right:5px;
	padding-left:10px;
	padding-right:10px;
}


.cfgp-repeater > .cfgp-repeater-item:not(:last-child) .cfgp-repeater-actions > .cfgp-add-seo-redirection,
.cfgp-repeater > .cfgp-repeater-item:only-child .cfgp-repeater-actions > .cfgp-remove-seo-redirection{
	display:none;
}

.cfgp-repeater > .cfgp-repeater-item+.cfgp-repeater-item{
	margin-top:10px;
	padding-top:10px;
	border-top: 1px solid #ccc;
}

/* Geo Tags */

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#cfgp-geo-tag-container #CFGP_Geo_Tag_Gmap {
height: 400px;
}
#cfgp-geo-tag-container #description {
font-family: Roboto;
font-size: 15px;
font-weight: 300;
}

#cfgp-geo-tag-container #infowindow-content .title {
font-weight: bold;
}

#cfgp-geo-tag-container #infowindow-content {
display: none;
}

#cfgp-geo-tag-container #CFGP_Geo_Tag_Gmap #infowindow-content {
display: inline;
}

#cfgp-geo-tag-container .pac-card {
margin: 10px 10px 0 0;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
background-color: #fff;
font-family: Roboto;
}

#cfgp-geo-tag-container #pac-container {
padding-bottom: 12px;
margin-right: 12px;
}

#cfgp-geo-tag-container .pac-controls {
display: inline-block;
padding: 5px 11px;
}
#cfgp-geo-tag-container .pac-controls label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}
#cfgp-geo-tag-container #pac-input {
font-family: Roboto;
background-color: #fff;
font-size: 15px;
font-weight: 300;
margin-left: 12px;
padding: 10px 11px 10px 13px;
text-overflow: ellipsis;
width: 500px;
}
#cfgp-geo-tag-container #pac-input:focus {
border-color: #4d90fe;
}
#cfgp-geo-tag-container #title {
color: #fff;
background-color: #4d90fe;
font-size: 25px;
font-weight: 500;
padding: 6px 12px;
}
#cfgp-geo-tag-container #target {
width: 345px;
}
#cfgp-geo-tag-container .cfgp-input {
width: 300px;
}